<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Tree</title>
    {% load custom_filters %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% for children, indent in menu_tree|zip:menu_indents %}
        <div style="margin-top: {{ indent }}px">
            {% for child in children %}
                {% if child in menu_path %}
                    <a href="{% url 'menu:menu' child.slug %}" class="a current-menu">{{ child.name }}<span>➤</span></a>
                {% else %}
                    <a href="{% url 'menu:menu' child.slug %}" class="a">{{ child.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>
